@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar fixed-top navbar-dark bg-primary">
          <div class="container-fluid">
            <span class="navbar-brand h1">Wordle Hack</span>
            <ModalDialog/>
          </div>
        </nav>

        <article class="main-container pt-5">
            @Body
        </article>
    </main>
</div>


